html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top:100px;
	margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yantramanav', serif;
}

input, textarea, select {
	width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.simple-line {
    margin: 0;
}

.spacer20, .spacer40, .spacer60 {
	padding: 10px;
	clear: both;
}

.spacer20 {
	height: 20px;
}

.spacer40 {
	height: 40px;
}

.spacer60 {
	height: 60px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-nav {
	text-align: right
}

.nav-icon {
	max-height: 25px;
}

.intro {
	text-align: justify;
}

.title {
	font-size: 4em;	
}

.myBtn {
	width: 140px;
}

.groupBtn {
	background-color: #e4e4e4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.groupText {
	text-align:center;
	font-weight: bold;
	width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
}

.groupBtnAddon {
	width:50px;
}

.editGroup {

	display: none;
}

.groupBtn:hover, .groupText:hover, .groupBtnAddon:hover{
	background-color: #5bc0de;
	color: #FFF;
}
