body {
	padding-top:100px;
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yantramanav', serif;
}

input, textarea, select {
	width: 100%;
}

.simple-line {
    margin: 0;
}

.spacer20, .spacer40, .spacer60 {
	padding: 10px;
	clear: both;
}

.spacer20 {
	height: 20px;
}

.spacer40 {
	height: 40px;
}

.spacer60 {
	height: 60px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-nav {
	text-align: right
}

.nav-icon {
	max-height: 25px;
}

.intro {
	text-align: justify;
}

.title {
	font-size: 4em;	
}

.myBtn {
	width: 140px;
}

.groupBtn {
	background-color: #e4e4e4;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
    cursor:pointer;
    font-weight: bold;
}

.editGroup {
	display: none;
}

.groupText {
	width:80%;
	padding:10px 15px; 
	text-align:center;
	float:left;
}

.deleteBtn {
	color: #ccc;
	padding:15px 5px;
}

.deleteBtn:hover {
	color: #333;
}

.groupText:hover {
	border:1px solid #4976d0;
}
